abc{ color: #333; /*
<!DOCTYPE html>
 <html	lang= "pl-PL">
<head>
<META HTTP-EQUIV="content-type" CONTENT="text/html;" CHARSET="iso-8859-2" CHARSET="UTF-8">
<style>
@import url("tomy_z6.css");
</style>
</head>
<body>
:)	uśmiechnięta buźka
<p>
:(	smutna buźka
</p>
;)	puszczanie oczka
<p>
:o	zdziwienie
</p>
-_-	podejżliwość
<p>
:D radosna buźka
</p>

</body>
</html>
*/}



body{
	color: blue;
	font-size: 30px;	
}

p{
	color: green;
	font-size: 32px;
}