abc{ color: #333; /*
<html>
<head>
<title>styl zewnetrzny</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- 22.11.2022  Tomys -->
<LINK href="tomy_z5_2.css" rel="stylesheet" type="text/CSS">
</head>
<body bgcolor="silver">
<p> Tomys -> Przykładem języka programowania jest C++ </p>
</body>
</html>
*/}


p {
color: #800000;
font-size: 66px;
abc{ color: #333; /* 22.11.2022 Tomys */ }
}